@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

.owen-slide-area{
    position: relative;
    overflow: hidden;
    &.vertical{
        height:500px;
        .owen-slide-wrap > .owen-slide{
            float: none;
        }
    }
    .owen-slide-wrap{
        position: relative;
        &:after{
            @include clearfix;
        }
        > .owen-slide{
            float: left;
            > .in{
                height:500px;
            }
        }
    }
}
